<nav class="navbar is-link" role="navigation" aria-label="base navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="#" class="navbar-item">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>
        </div>
        <div class="navbar-menu"">
                <div class=" navbar-start">
            <a href="./" class="navbar-item">Home</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="#" class="button is-info">
                        Sign
                    </a>
                    <a href="./api/sign/account/logout" class="button is-danger">
                        logout
                    </a>
                    <a href="./account" class="button is-primary">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>