{% extends "../layout/base.njk" %}
{% block style %}
<link rel="stylesheet" href="../../css/sign/sign.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
{% endblock%}

{% block constents %}
<div class="column is-4 is-offset-4 has-text-centered">
    <div id="signForm" class="box has-background-white">
        <h1 class="title has-text-grey" id="app-2">
            Sign
        </h1>
        <p class="subtitle has-text-grey"> Pleass insert ID, PASSWORD </p>
        <form action="#" class="sign-form">
            <div class="field">
                <div class="control">
                    <input type="text"
                        name="id"
                        v-model="id"
                        v-validate="'required|min:3'"
                        :class="{'input': true, 'is-large': true, 'is-danger': errors.has('id')}"
                        placeholder="ID">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input
                        name="pwd"
                        type="password" v-model="pwd"
                        v-validate="'required|min:6'"
                        :class="{'input': true, 'is-large': true, 'is-danger': errors.has('pwd')}"
                        placeholder="Password">
                </div>
            </div>
        </form>
        <div class="buttons">
            <button class="button is-warning is-medium is-fullwidth" @click.prevent="snsButton($event, 'kakao')">
                <span class="icon is-small">
                    <i class="fab fa-facebook-square"></i>
                </span>
                <span>
                    Kakao
                </span>
            </button>
            <button class="button is-info is-medium is-fullwidth" @click="snsButton($event, 'facebook')">
                <span class="icon is-small">
                    <i class="fab fa-facebook-square"></i>
                </span>
                <span>
                    Facebook
                </span>
            </button>
            <button class="button is-danger is-medium is-fullwidth" @click="snsButton($event, 'google')">
                <span class="icon is-small">
                    <i class="fab fa-google"></i>
                </span>
                <span>Google</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block axios%}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block script %}
<script src="js/common/vee-validate.js"></script>
<script src="js/common/vee-validate-ko.js"></script>
<script src="js/sign/sign.js"></script>
{% endblock %}